.feed {
    height: auto;
    margin: 0;
    padding: 0;

    ul {
        margin: 0;
        padding: 0;

        li {
            line-height: normal;
            list-style: none;
            margin: 1rem 0;
            padding: 0;

            &:hover {
                transform: scale(0.98);
                transition: 0.4s ease-in-out;
            }
        }
    }
}
