.feed {
  height: auto;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.feed ul {
  margin: 0;
  padding: 0;
}
.feed ul li {
  line-height: normal;
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}
.feed ul li:nth-child(n+10) {
  display: none;
}
.feed ul li:hover a {
  transform: scale(1.05);
  transition: 0.4s ease-in-out;
}
.feed ul li a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.feed ul li a .chev {
  font-weight: 700;
  padding-right: 5px;
}

@media screen and (max-width: 700px) {
  .feed {
    margin: 1rem 1rem;
    font-size: 0.8rem;
  }
  .feed ul {
    margin: 0rem;
  }
  .feed ul li {
    border-bottom: 1px solid var(--underline-color);
    margin: 0px;
    padding: 10px 0px;
  }
  .feed ul li:nth-child(n+10) {
    display: none;
  }
  .feed ul li:hover {
    transform: scale(1);
  }
}
