@import "../../styles/variables";

.sidebar {
    grid-area: 2/3/3/4;
    height: 100%;
    width: 100%;
    margin: 2rem 0rem;

    @media screen and (max-width: $small) {
        display: none;
    }
    @media screen and (min-width: ($small)) and (max-width: $medium) {
        grid-area: 2 / 3 / 3 / 4;
    }
    @media screen and (min-width: ($medium + 1)) and (max-width: $large) {
        grid-area: 2 / 3 / 3 / 4;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            font-size: 0.8rem;
            line-height: 1.2rem;
            margin: 1rem 0rem;
            padding: 0px 0px 10px 0px;
            border-bottom: 1px solid var(--underline-color);

            &:nth-child(n + 12) {
                display: none;
            }
            @media screen and (min-width: ($small)) and (max-width: $medium) {
                &:nth-child(n + 10) {
                    display: none;
                }
            }
            @media screen and (min-width: ($medium + 1)) and (max-width: $large) {
                &:nth-child(n + 14) {
                    display: none;
                }
            }

            a {
                display: flex;
                flex-direction: row;

                time {
                    margin: 0px 20px 0px 0px;
                    font-weight: bold;
                    color: var(--secondary-color);
                }

                p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
}
