.app {
    display: grid;
    grid-template-columns: 25% 600px 300px 25%;
    grid-template-rows: 10% 80% 10%;
    grid-gap: 2rem;

    place-content: center;

    height: 100vh;
    height: 100svh;
    width: 100%;
}
